/* CONTACTO */

.body__contacto{
    background-color: map-get($colores, rojo);
}

.contacto__titulo{
    font-size: 4rem;
    color: map-get($colores, clarito);
    text-align: center;
    margin-top: 1rem;
}

.contacto__formulario{
    margin: 2rem;
    background-color: map-get($colores, dorado);
    padding: 2rem;
    border-radius: 1rem;
}