/* CONTACTO */

.body__contacto{
    background-color: #e22a34;
}

.contacto__titulo{
    font-size: 4rem;
    color: #DAF7A6;
    text-align: center;
    margin-top: 1rem;
}

.contacto__formulario{
    margin: 2rem;
    background-color: #eb9907;
    padding: 2rem;
    border-radius: 1rem;
}