/* HEADER */

.header{
    grid-area: header;
    &__nav{
        background-color: map-get($colores , negro);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    &__lista{
        display: flex;
        align-self: center;
        list-style: none;
        font-size: 1.56rem;
        font-family: $fuente;
        text-transform: uppercase;
    }
    &__item{
        padding-right: 35px;
        & a {
            text-decoration: none;
            color: map-get($colores, blanco);
            &:hover{
                border-bottom: solid 0.2rem map-get($colores, blanco);
                color: map-get($colores, blanco);
            }
        }
    }
    &__logo{
        width: 115px;
        height: 115px;
        border-radius: 100px;
        margin: 10px 15px;
    }
    &__checkboxMenu{
        display: none;
    }
    &__labelMenu{
        display: none;
    }
}

#checked{
    color: map-get($colores, dorado); 
    &:hover{
        border-bottom: solid 0.2rem map-get($colores, dorado);
    }
}