/* DESKTOP INDEX */
.body__index{
    display: grid;
    grid-template-columns: 0.7fr 1.2fr;
    grid-template-rows: repeat(2, auto);

    grid-template-areas: "hero1 hero2"
                         "footer footer";


    background-color: map-get($colores, dorado);
}

/* HERO SECTION izquierda*/
.hero1{
    grid-area: hero1;
    background-color: map-get($colores , rojo );
    display: flex;
    flex-direction: column;
    &__contenedorLogo{
        margin: 40px 0px 0px 40px;
    }
    &__logo{
        width: 115px;
        height: 115px;
        border-radius: 100px;
    }
    &__lista{
        list-style: none;
        margin-top: 40px;
        color: map-get($colores , blanco );
        font-family: 'Mandali', sans-serif;
        padding-left: 2.5rem;
    }
    &__item{
        padding-bottom: 5px;
        & a{
            color: map-get($colores , blanco );
            text-decoration: none;
            font-size: 30px;
            &:hover{
                font-size: 35px;
            }

        }
    }
    &__redes{
        display: flex;
        height: 100%;
        justify-content: flex-end;
        margin-right: 25px;
        list-style: none;
        align-items: flex-end;
        & img{
            width: 4.5rem;
            height: 4rem;
            padding-right: 10px;
        }
    }
}

/* HERO SECTION derecha*/

.hero2{
    grid-area: hero2;
    display: flex;
    width: 100vh;
    height: 100vh;
    overflow: hidden;
    background-image: url(../media/nakama_ramen.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    &Contenedor{
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        color: map-get($colores , clarito);
        margin-top: 1rem;
        &__btn{
            text-decoration: none;
            color: map-get($colores , clarito);
            padding: 20px 60px;
            background-color: map-get($colores , negro);
            align-self: center;
            margin-top: 14rem;
            &:hover{
                background-color: map-get($colores, blanco);
                color: map-get($colores , negro);
            }
        }
        &__h1{
            margin-top: 9rem;
            padding: 20px 45px;
            background-color: map-get($colores , negro);
        }
    }
}
