@media only screen and (max-width: 1024px) { 
    .body__index{
        display: grid;
        grid-template-columns: 0.3fr 1fr;
 
        grid-template-rows: repeat(2, auto);

        grid-template-areas: "hero1 hero2"
                             "footer footer";
    }
    /* FOOTER */
    .footer{
        display: flex;
        flex-direction: column;
        &Contenedor1{
            align-self: center;
        }
        &Contenedor2{
            align-self: center;
        }
        &Contenedor3{
            align-self: center;
        }
    }


    /* HERO INDEX */
    .hero1__item a{
        font-size: 19px;
        &:hover{
            font-size: 25px;
        }
    }
    
    
    .hero1__redes {
        justify-content: center;
        margin-right: 0px;
        & img{
            width: 3.5rem;
            height: 3rem;
        }
    }

    .hero1__contenedorLogo {
        margin: 40px 0px 0px 27px;
    }

    .hero1__lista {
        margin-top: 40px;
        padding-left: 1.5rem;
    }

    #hero1__item--doble a{
        font-size: 18px;
    }


    /* HISTORIA-SOBRE NOSOTROS */

    .historia{
        display: flex;
        flex-direction: column-reverse;
        &Contenedor1{
            width: 100%;
            margin: 5rem;
            text-align: center;
            & h1{
                margin-bottom: 3rem;
            }
        }
        &Contenedor2{
            width: 100%;
        }
    }
    
    
    /* HEADER */

    .header__lista{
        font-size: 1rem;
    }

    /* FUNDADORES-SOBRE NOSOTROS */
    .fundadores{
        display: flex;
        flex-direction: column;
        &Contenedor1{
            width: 100%;
        }
        &Contenedor2{
            width: 100%;
        }
    }
    
    /* MENU */
    .body__menu{
        background-position: 0% 64%;
    }
}
