/* MENU */
.body__menu{
    background-color: map-get($colores, rojo);
    background-image: url(../media/wave.svg);
    background-position: 0% 82%;
    background-repeat: no-repeat;
    font-family: $fuente;
}

.menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    &__carta{
        width: 100%;
        display: flex;
        justify-content: center;
        & iframe{
            width: 80%;
            height: 40rem;
        }
    }
    &__titulo{
        font-size: 4rem;
        color: map-get($colores, clarito);
        text-align: center;
    }
    &__btn{
        text-decoration: none;
        color: map-get($colores, clarito);
        padding: 20px 60px;
        background-color: map-get($colores, negro);
        margin-top: 1rem;
        margin-bottom: 2rem;
        &:hover{
            background-color: map-get($colores, blanco);
            color:  map-get($colores, negro);
        }
    }
}
