/* QUIENES SOMOS DESKTOP */
.body__sobreNosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);

    grid-template-areas: "header header"
                         "historia historia"
                         "titulo titulo"
                         "fundadores fundadores"
                         "footer footer";




    font-family: $fuente;
}



/* FUNDADORES SECTION-QUIENES SOMOS */
.fundadores{
    grid-area: fundadores;
    display: flex;
    background-color: map-get($colores, rojo );
    color: map-get($colores, clarito);
    &Contenedor1{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        & img{
            width: 30rem;
        }
        &__texto{
            margin: 0rem 3rem 3rem 3rem;
        }
    }
    &Contenedor2{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        & img{
            width: 30rem;
        }
        &__texto{
            margin: 0rem 3rem 3rem 3rem;
        }
    }
}



/* HISTORIA SECTION-QUIENES SOMOS*/
.historia{
    grid-area: historia;
    display: flex;
    background-color: map-get($colores, rojo );
    color: map-get($colores, clarito);
    &Contenedor1{
        width: 45%;
        margin-left: 3rem;
        margin-right: 3rem;
        align-self: center;
    }
    &Contenedor2{
        width: 55%;
        background-color: map-get($colores, dorado);
        & img{
            width: 100%;
            height: 100%;
        }
    }
}


/* TITULO-QUIENES SOMOS */
.titulo{
    grid-area: titulo;
    text-align: center;
    padding: 5rem 0rem;
    background-color:map-get($colores, dorado);
    color: map-get($colores, clarito);
}